@model IEnumerable<RepositoryLayer.Entity.EmployeeEntity>

@{
    ViewData["Title"] = "GetAllEmp";
}
<style>
    .table{
        color:white;
    }
    h1{
        text-align:center;
    }
</style>
<h1>All Employee Details</h1>

<p>
    <a asp-action="AddEmployeeDetails" class="create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>

                <img src="@Url.Content(item.ImagePath)" alt="image" height="60px" width="60px" style="border-radius:50px" />

@*                 @Html.DisplayFor(modelItem => item.ImagePath)
 *@            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }, new { @class = "edit" })
            </td>
            <td>
                    @Html.ActionLink("Details", "Details", new { id = item.EmployeeId },new{@class="details"}) 
            </td>
            <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId },new{@class="delete"})
            </td>
        </tr>
}
    </tbody>
</table>
